* {
  box-sizing: border-box;
}

body * , html *, html {
  scrollbar-width: thin;
}

// /* width */
// ::-webkit-scrollbar {
//   width: 8px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #c3c3c3;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #888888;
// }

body {
  font-family: "Euclid Circular A";
  font-size: 12px;
  line-height: 24px;
  color: #000;
  background-color: transparent;
  font-weight: normal;

  &.modal-open{
    overflow: hidden !important;
  }
 
}

.root{
  display: flex;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.page{
  height: 100%;
  min-height: 110vh;
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: all .3s linear;
  margin-left: 112px;

  &.sidebar-active{
   width: 100%;
   margin-left: 262px;
  }

  &.is-login{
    margin-left: 0;
    background-color: #F6F8FF;
  }
}

.container {
  margin: 0 !important;
  padding: 0 24px !important;
  width: 100% !important;
  max-width: 100%;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a, a:hover, a:focus {
  outline: none;
}

a, a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  outline: none !important;
  background-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

