$dark-1: #dee1f4;
$dark-2: #c0c5ea;
$dark-3: #8d92c1;
$dark-4: #575c84;
$dark-5: #1c1e33;
$dark-6: #14162b;
$basic-1: #fff;
$basic-2: #f7f9fc;
$basic-3: #edf1f7;
$basic-4: #e4e9f2;
$basic-5: #c5cee0;
$basic-6: #8f9bb3;
$basic-7: #2e3a59;
$basic-8: #222b45;
$basic-9: #192038;
$basic-10: #151a30;
$basic-11: #101426;
$success-1: #f0fff5;
$success-2: #ccfce3;
$success-3: #8cfac7;
$success-4: #2ce59b;
$success-5: #00d68f;
$success-6: #00b887;
$success-7: #00997a;
$success-8: #007d6c;
$success-9: #004a45;
$info-1: #f2f8ff;
$info-2: #c7e2ff;
$info-3: #94cbff;
$info-4: #42aaff;
$info-5: #0095ff;
$info-6: #006fd6;
$info-7: #0057c2;
$info-8: #0041a8;
$info-9: #002885;
$warning-1: #fffdf2;
$warning-2: #fff1c2;
$warning-3: #ffe59e;
$warning-4: #ffc94d;
$warning-5: #fa0;
$warning-6: #db8b00;
$warning-7: #b86e00;
$warning-8: #945400;
$warning-9: #703c00;
$danger-1: #fff2f2;
$danger-2: #ffd6d9;
$danger-3: #ffa8b4;
$danger-4: #ff708d;
$danger-5: #ff3d71;
$danger-6: #db2c66;
$danger-7: #b81d5b;
$danger-8: #94124e;
$danger-9: #700940;
$white: #fff;
$black: #000;
