$dark-1: #DEE1F4;
$dark-2: #C0C5EA;
$dark-3: #8D92C1;
$dark-4: #575C84;
$dark-5: #1C1E33;
$dark-6: #14162B;

$basic-1: #fff;
$basic-2: #F7F9FC;
$basic-3: #EDF1F7;
$basic-4: #E4E9F2;
$basic-5: #C5CEE0;
$basic-6: #8F9BB3;
$basic-7: #2E3A59;
$basic-8: #222B45;
$basic-9: #192038;
$basic-10: #151A30;
$basic-11: #101426;

$success-1: #F0FFF5;
$success-2: #CCFCE3;
$success-3: #8CFAC7;
$success-4: #2CE59B;
$success-5: #00D68F;
$success-6: #00B887;
$success-7: #00997A;
$success-8: #007D6C;
$success-9: #004A45;


$info-1: #F2F8FF;
$info-2: #C7E2FF;
$info-3: #94CBFF;
$info-4: #42AAFF;
$info-5: #0095FF;
$info-6: #006FD6;
$info-7: #0057C2;
$info-8: #0041A8;
$info-9: #002885;

$warning-1: #FFFDF2;
$warning-2: #FFF1C2;
$warning-3: #FFE59E;
$warning-4: #FFC94D;
$warning-5: #FFAA00;
$warning-6: #DB8B00;
$warning-7: #B86E00;
$warning-8: #945400;
$warning-9: #703C00;

$danger-1: #FFF2F2;
$danger-2: #FFD6D9;
$danger-3: #FFA8B4;
$danger-4: #FF708D;
$danger-5: #FF3D71;
$danger-6: #DB2C66;
$danger-7: #B81D5B;
$danger-8: #94124E;
$danger-9: #700940;

$white: #fff;
$black: #000;