// // Core
@import "variables";
@import "fonts";
@import "icons";
@import "default";
@import "helpers";

// Layout
@import "layout/sidebar";
@import "layout/page-header";

//Elements
@import "elements/modal";
@import "elements/slide-out";
@import "elements/buttons";
@import "elements/tables";
@import "elements/tabs";
@import "elements/badges";
@import "elements/fullcalendar";
@import "elements/dark-switch";
@import "elements/detail-field";

//Form
@import "form/input";
@import "form/select";
@import "form/datepicker";

//Pages
@import "pages/orders";
@import "pages/consultations";
@import "pages/profile";
@import "pages/notifications";
