.documents {
  margin-top: 112px;

  .drag-box {
      max-width: 336px;
      padding: 18px 16px;
      width: 100%;
      border-radius: 8px;
      background-color: #EBEFFF;
      min-height: 492px;

      &:not(:last-child) {
          margin-right: 24px;
      }

      .box-title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
              font-size: 14px;
              line-height: 20px;
              color: $basic-7;
          }

          .item-count {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 32px;
              height: 32px;
              background: $dark-1;
              border-radius: 8px;
          }
      }


      .list-group {
          margin-top: 22px;
          margin-bottom: 16px;

          .list-group-item {
              border-radius: 8px;
              cursor: pointer;
              border: none;

              &:not(:last-child) {
                  margin-bottom: 8px;
              }

              p {
                  max-width: 224px;
                  white-space: pre-wrap;
                  font-size: 14px;
                  line-height: 20px;
                  color: $basic-7;
              }

              .badge {
                  margin-top: 16px;
                  padding: 4px 8px;
                  border-radius: 4px;
                  height: 24px;
                  font-weight: 400;
                  width: auto;
                  max-width: fit-content;
                  font-size: 12px;
                  line-height: 16px;

                  &:not(:last-child) {
                      margin-right: 12px;
                  }
              }
          }

      }

      button {
          margin-left: 17px;
          color: $dark-4;
          font-size: 14px;
          line-height: 20px;

          i {
              margin-right: 10px;
              font-size: 17px;
          }
      }
  }
}