.trips {
  margin-top: 48px;

  h3 {
    color: #2e3a59;
    font-size: 16px;
    line-height: 24px;
  }
}

.trips-inner {
  .trip-item {
    margin-top: 24px;
    max-width: 100%;
    width: 426px;
    height: 48px;
    border: 1px solid #dee1f4;
    border-radius: 8px;
    background: #f7f9fc;
    cursor: pointer;

    &.active {
      height: 100%;

      .trip-item_body {
        display: block;
        height: 100%;
      }

      .trip-item_head > i {
        transform: rotate(180deg);
      }
    }

    .trip-item_head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px 16px 14px 15px;

      span {
        color: $basic-7;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;

        i {
          margin-right: 24px;
          font-size: 20px;
        }
      }

      i {
        color: $dark-4;
        font-size: 20px;
      }
    }

    .trip-item_body {
      display: none;
      padding: 26px 25px 40px;
      transition: all .3s ease-out;

      .form-field input {
        background-color: $white;
      }

      .mx-datepicker {
        background-color: $white;
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 32px;

        .btn-borderless {
          color: $danger-5;
        }
      }
    }
  }

  .vs__dropdown-toggle {
    background-color: #fff;
  }
}
