.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  max-width: 112px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $dark-5;
  transition: all .3s linear;

  &.sidebar-active {
    min-height: 100vh;
    max-width: 262px;
    height: 100%;
    overflow: auto;

    .logo {
      margin-left: 40px;
    }
  }

  .sb-collapse-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    color: $basic-6;
    cursor: pointer;
  }

  .logo {
    margin-top: 10px;
    margin-bottom: 56px;
    margin-left: 0;
    transition: all .3s linear;

    img {
      width: 141px;
      height: 32px;
    }
  }

  nav {
    padding: 0 24px;

    .menu {
      li {
        position: relative;
        max-width: 214px;
        width: 100%;

        &:hover {
          border-radius: 8px;
          background-color: $dark-4;

          a {
            color: $dark-1;
          }
        }

        &:not(:last-child) {
          margin-bottom: 6px;
        }

        .link-active {
          border-radius: 8px;
          background-color: $dark-4;
        }
      }

      a {
        display: flex;
        align-items: center;
        padding: 12px 0 12px 20px;
        color: $basic-6;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        &.link-active {
          color: $dark-1;
        }

        i {
          margin-right: 16px;
        }
      }

      .nav-darkmode {
        display: flex;
        display: flex;
        align-items: center;
        align-items: center;
        padding: 12px 0 12px 20px;
        color: $basic-6;
        font-weight: 400;

        &.no-title {
          &:hover {
            border-radius: 8px;
            background-color: $dark-4;
            color: $dark-1;
          }
        }

        i {
          margin-right: 16px;
        }
      }
    }
  }

  .sidebar-communication {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 63px;
    padding-left: 0;

    &.sidebar-active {
      flex-direction: row;
      margin-top: 108px;
      padding-left: 42px;

      .messages {
        margin-right: 38px;
        margin-bottom: 0;
      }
    }

    i {
      color: $basic-6;
    }

    .messages {
      margin-right: 0;
      margin-bottom: 37px;
      cursor: pointer;
    }

    .sidebar-notifications {
      position: relative;
    }
  }

  .sidebar-profile {
    display: flex;
    justify-content: center;
    margin-top: 26px;
    padding-left: 24px;
    padding-left: 0;

    &.sidebar-active {
      align-items: center;
      max-width: 262px;

      .profile-info {
        margin-right: 16px;
        padding: 12px 50px 12px 13px;
        border: 1px dashed #575c84;
        border-radius: 16px;
      }

      .link-active > .profile-info {
        background-color: $dark-4;
      }
    }

    .profile-info {
      cursor: pointer;
      display: flex;
      align-items: center;

      .profile-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        img {
          border-radius: 50%;
        }
      }

      .profile-name {
        display: flex;
        flex-direction: column;
        margin-left: 12px;

        strong {
          color: $white;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }

        span {
          color: $dark-2;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
        }
      }
    }

    .logout {
      color: $basic-6;
      cursor: pointer;
    }
  }
}

.notification-modal {
  position: absolute;
  bottom: 0;
  left: 40px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  width: 400px;
  height: 380px;
  border-radius: 4px;
  box-shadow: 0 8px 24px rgb(41 45 50 / 8%);
  background-color: $white;

  #see-all {
    display: block;
    align-self: center;
    margin: auto;
    padding-top: 16px;
    color: $info-5;
    font-size: 12px;
    line-height: 16px;
  }

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    border-radius: 4px;
    background-color: $info-5;

    strong {
      color: $white;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }

    button {
      color: $white;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
  }

  .modal-body-wrap {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .modal-body {
    padding: 16px 24px 16px 16px;
  }

  .modal-item {
    display: flex;
    padding-bottom: 16px;
    border-bottom: 2px solid $basic-3;

    .avatar {
      margin-right: 16px;
      width: 40px;
      height: 40px;
      border-radius: 50%;

      img {
        border-radius: 50%;
      }
    }

    .info {
      .title {
        strong {
          color: $basic-7;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
        }

        span {
          color: $basic-7;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
        }
      }

      .timestamp {
        span {
          color: $basic-6;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
}

.nav-tooltip {
  padding: 0 !important;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgb(41 45 50 / 8%);
  background: #fff;

  &.b-tooltip {
    opacity: 1;
    top: -10px !important;
    left: 48px !important;
  }

  .arrow {
    display: none;
  }

  .tooltip-inner {
    padding: 8px 16px;
    min-height: 36px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgb(41 45 50 / 8%);

    // position: absolute;
    // z-index: 1;
    // top: -10px;
    // left: calc(100% + 8px);
    background: #fff;
    color: #12031e;
    font-family: "Euclid Circular A", sans-serif !important;
    font-size: 14px;
    line-height: 22px;
    transition: all .3s linear;
  }
}

.notification-tooltip {
  padding: 0 !important;

  &.b-tooltip {
    opacity: 1;
  }

  .arrow {
    display: none;
  }

  .tooltip-inner {
    padding: 0;
    background-color: transparent;
    text-align: unset;
  }
}
