.sidebar {
  display: flex;
  flex-direction: column;
  background-color: $dark-5;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  // min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 40px 0;
  max-width: 112px;
  transition: all .3s linear;


  &.sidebar-active {
    max-width: 262px;
    height: 100%;
    min-height: 100vh;
    overflow: auto;
    .logo {
      margin-left: 40px;
    }
  }

  .sb-collapse-btn {
    color: $basic-6;
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }

  .logo {
    margin-bottom: 56px;
    margin-top: 10px;
    margin-left: 0;
    transition: all .3s linear;
    img {
      width: 141px;
      height: 32px;
    }
  }

  nav {
    padding: 0 24px;

    .menu {
      li {
        position: relative;
        width: 100%;
        max-width: 214px;

        &:not(:last-child) {
          margin-bottom: 6px;

          &:hover {
            border-radius: 8px;
            background-color: $dark-4;

            a {
              color: $dark-1;
            }
          }
        }

        .link-active {
          border-radius: 8px;
          background-color: $dark-4;
        }
      }

      a {
        padding: 12px 0px 12px 20px;
        color: $basic-6;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        display: flex;
        align-items: center;

        &.link-active {
          color: $dark-1;
        }

        i {
          margin-right: 16px;
        }
      }

      .nav-darkmode {
        display: flex;
        align-items: center;
        padding: 12px 0px 12px 20px;
        color: $basic-6;
        font-weight: 400;
        display: flex;
        align-items: center;

        &.no-title {
          &:hover {
            border-radius: 8px;
            background-color: $dark-4;
            color: $dark-1;
          }
        }

        i {
          margin-right: 16px;
        }
      }
    }
  }

  .sidebar-communication {
    margin-top: 63px;
    padding-left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    &.sidebar-active {
        margin-top: 108px;
        flex-direction: row;
        padding-left: 42px;
        .messages{
            margin-bottom: 0;
            margin-right: 38px;
        }
        
    }
    i {
        color: $basic-6;
    }
    .messages {
        margin-bottom: 37px;
        margin-right: 0;
       cursor: pointer;
    }

    .notifications {
        position: relative;
    }
  }


  .sidebar-profile {
    padding-left: 24px;
    margin-top: 26px;
    display: flex;
    padding-left: 0;
    justify-content: center;

      &.sidebar-active {
        align-items: center;
        max-width: 262px;
        .profile-info {
            margin-right: 16px;
            border-radius: 16px;
            border: 1px dashed #575C84;
            padding: 12px 50px 12px 13px;
        }

        .link-active > .profile-info {
          background-color: $dark-4;
        }

    }
    
    .profile-info {
        cursor: pointer;
        display: flex;
        align-items: center;

        .profile-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;

            img{
              border-radius: 50%;
            }
        }

        .profile-name {
            margin-left: 12px;
            display: flex;
            flex-direction: column;

            strong{
                color: $white;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
            }
            span{
                color: $dark-2;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
     
    .logout{
        color: $basic-6;
        cursor: pointer;
    }
  }
}

.notification-modal{
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 40px;
  background-color: $white;
  box-shadow: 0px 8px 24px rgba(41, 45, 50, 0.08);
  z-index: 2;
  width: 400px;
  height: 380px;

  #see-all {
    padding-top: 16px;
    align-self: center;
    font-size: 12px;
    line-height: 16px;
    color: $info-5;
    margin: auto;
  }

  .modal-header {
    padding: 10px 16px;
    background-color: $info-5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;

    strong {
      font-size: 14px;
      line-height: 20px;
      color: $white;
      font-weight: 500;
    }

    button {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      color: $white;
    }
  }


  .modal-body-wrap{
    overflow: auto;
    width: 100%;
    height: 100%;
  }
  .modal-body{
    padding: 16px 24px 16px 16px;
  }

  .modal-item {
    padding-bottom: 16px;
    display: flex;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: $basic-3;
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 16px;

      img{
        border-radius: 50%;
      }
    }

    .info{
      .title {
        strong{
          color: $basic-7;
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
        }
        span{
          font-size: 12px;
          line-height: 16px;
          color: $basic-7;
          font-weight: 400;
        }
      }
      .timestamp {
        span {
          font-size: 12px;
          line-height: 16px;
          color: $basic-6;
        }
      }
    }
  }
}


.nav-tooltip {

  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(41, 45, 50, 0.08);
  border-radius: 8px;
  
  padding: 0 !important;
  &.b-tooltip {
    opacity: 1;
    top: -10px !important;
    left: 48px !important;
  }
  .arrow {
    display: none;
  }

  .tooltip-inner {
    min-height: 36px;
    padding: 8px 16px;
    color: #12031E;
    font-size: 14px;
    line-height: 22px;
    font-family: "Euclid Circular A" !important;
    // position: absolute;
    // z-index: 1;
    // top: -10px;
    // left: calc(100% + 8px);
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(41, 45, 50, 0.08);
    border-radius: 8px;
    transition: all .3s linear;
  }
}


.notification-tooltip {
  padding: 0 !important;
  &.b-tooltip {
    opacity: 1;
  }
  .arrow {
    display: none;
  }

  .tooltip-inner {
    padding: 0;
    background-color: transparent;
    text-align: unset;
  }
}