.tabs {
    padding-top: 20px;
    .nav-tabs {
        border-bottom: 1px solid $dark-1;

       .nav-item:not(:last-child){
        margin-right: 40px;
       }

        .nav-link{
            padding-bottom: 16px;
            padding-left: 8px;
            font-size: 16px;
            line-height: 24px;
            color: $basic-6;
            border: none;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: transparent;

            &.active {
                color: $success-6;
                border-color: $success-5;
            }

            
        }
        
    }

    .tab-content {
        // padding: 40px 0;
    }
   
}

.order-details_inner {
    .application-form_tab:last-child {
        background: #FFFFFF;
        border: 1px solid $info-5;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        transition: all .2s linear;
        padding: 12px 16px;
        cursor: pointer;

        &:hover{
            background-color: $info-5;

            a{
                color: $white;

                &.active{
                    color: $white;
                    border: none;
                    background-color: transparent;
                }
            }

            &::before{
                color: $white;
            }
        }

        &::before{
            content: "\e909";
            display: inline-flex;
            font-family: 'icomoon' !important;
            color: $info-5;
            font-size: 20px;
            margin-right: 12px;
        }
        
        a{
            padding: 0;
            color: $info-5;
            font-size: 14px;
            line-height: 16px;
            border: none;

            &.active{
                color: $info-5;
                border: none;
                background-color: inherit;
            }
        }
    }
}
