.error{
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-inner{
    padding: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width: 333px;
    }
    h2{
        margin-top: 56px;
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 28px;
        color: $basic-7;
    }
    p{
        margin-bottom: 56px;
        font-size: 14px;
        line-height: 24px;
        color: $basic-7;
    }

    button{
        color: $basic-7;
        font-size: 14px;
        line-height: 16px;
        border-color:$basic-7;
    }
}