.applicant_id {
  h2 {
    color: $basic-7;
    font-size: 16px;
    line-height: 24px;
  }

  .page-header {
    .applicant-details {
      padding: 12px 16px;
      border-radius: 4px;
      background: #f2f6ff;
      color: $info-5;
      font-size: 14px;
      line-height: 16px;

      i {
        margin-right: 10px;
        font-size: 16px;
      }
    }

    .applicant-files {
      padding: 12px 16px;
      border-radius: 4px;
      background: $info-5;
      color: $white;
      font-size: 14px;
      line-height: 16px;

      i {
        margin-right: 11px;
        font-size: 16px;
      }
    }
  }

  .applicant-id_inner .recent-orders .table-responsive {
    margin-top: 24px;
    margin-bottom: 56px;
  }

  .detail-field {
    max-width: 100%;
    width: 228px;
  }

  .passport-details {
    padding-bottom: 64px;
    border-bottom: 4px solid $dark-1;
  }

  .passport-upload_input {
    margin-right: 64px;
  }

  .passport-upload_input label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 12px 16px;
    min-width: 272px;
    max-height: 60px;
    width: 100%;
    border: 1px dashed #94cbff;
    border-radius: 8px;
    background: #f2f8ff;
    cursor: pointer;

    h3 {
      margin-bottom: 0;
      color: $basic-7;
      font-size: 14px;
    }

    span {
      color: $basic-6;
      font-size: 12px;
    }

    strong {
      padding: 8px 16px;
      border: 1px solid $info-3;
      border-radius: 6px;
      background: $white;
      color: $dark-4;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }
  }

  .passport-active_checkbox {
    label {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      cursor: pointer;

      span {
        color: $basic-7;
        font-size: 14px;
        line-height: 20px;
      }
    }

    input {
      margin-right: 6px;
      width: 20px;
      height: 20px;
      border: 1px solid $basic-5;
      border-radius: 3px;
      background: rgb(143 155 179 / 16%);
    }
  }
}

.applicant-documents {
  .page-header .download-files {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 17px;
    border-radius: 8px;

    i {
      margin-right: 10px;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .applicant-documents_inner {
    .tab-content {
      padding-top: 65px;
    }

    .document-items {
      ul {
        li {
          padding-bottom: 20px;
          border-bottom: 1px solid $basic-3;

          &:not(:first-child) {
            padding-top: 32px;
          }

          span {
            color: $basic-7;
            font-size: 14px;
            line-height: 20px;
          }

          button {
            i {
              font-size: 20px;
            }

            &:first-child {
              i {
                color: $dark-3;
              }
            }

            &:last-child {
              i {
                color: $info-5;
              }
            }
          }
        }
      }
    }
  }
}
