.add-consultation-inner {
    padding-bottom: 100px;
    display: flex;
    padding-top: 16px;
    padding-right: 10px;
}

.consultations {
    .page-header{
        .add-customer_list {
            padding: 0 16px;
            color: $dark-4;
            font-size: 14px;
            line-height: 16px;
        }
        .send-details {
            border-color: $dark-4;
            color: $dark-4;
        }
    }
    h3 {
        margin-bottom: 24px;
        font-size: 16px;
        color: $basic-7;
        line-height: 24px;
    }

    .main .client-details form {
        padding-bottom: 24px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $basic-3;
    }

    .applicants {
        margin-top: 40px;

        .add-applicant{
            margin-top: 24px;
          i{
            font-size: 17px;
            color: $success-5;
          }
          span{
            margin-left: 10px;
            font-size: 14px;
            line-height: 20px;
            color: $dark-4;
          }
        }

        .table td {
            padding-left: 0;
            padding-right: 0;
        }

        .applicant-list .actions {
            vertical-align: bottom;
        }

        .appplicant-list .detail-field {
            margin-bottom: 0;

           
            
       }

       .client-type {
        font-weight: 500;
        color: $info-5;
        font-size: 12px;
        line-height: 16px;
        }
    

        .applicant-list .table-actions {
            width: 240px;

            button{
                width: 100%;
            }
         }

         


        .slideout-content_head{
            h2{
                font-size: 20px;
                line-height: 28px;
                color: $dark-5;
            }

            .is-client > span {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: $basic-7;
            }
            
            .is-client .slider{
                border: 1px solid #8D92C1 !important;
            }

            button{
                display: flex;
                align-items: center;
                justify-content: center;

                i{
                    font-size: 20px;
                }
            }

           
        }

        .slideout-forms-inner{
            margin: auto;
            max-width: 312px;
            .form-group {
                
                margin-bottom: 1rem;

            }
            input {
                border-radius: 6px;
            }

            .appointment-form{
                margin-top: 56px;
            }

            button{
                margin-top: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                height: 48px;
                width: 100%;
            }
        }
    }

    .documents {
        margin-top: 112px;

        .drag-box {
            // max-width: 336px;
            padding: 18px 16px;
            width: 100%;
            border-radius: 8px;
            background-color: #EBEFFF;
            min-height: 492px;

            &:not(:last-child) {
                margin-right: 24px;
            }

            .box-title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    font-size: 14px;
                    line-height: 20px;
                    color: $basic-7;
                }

                .item-count {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;
                    background: $dark-1;
                    border-radius: 8px;
                }
            }


            .list-group {
                margin-top: 22px;
                margin-bottom: 16px;

                .list-group-item {
                    border-radius: 8px;
                    cursor: pointer;
                    border: none;

                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }

                    p {
                        max-width: 224px;
                        white-space: pre-wrap;
                        font-size: 14px;
                        line-height: 20px;
                        color: $basic-7;
                    }

                    .badge {
                        margin-top: 16px;
                        padding: 4px 8px;
                        border-radius: 4px;
                        height: 24px;
                        font-weight: 400;
                        width: auto;
                        max-width: fit-content;
                        font-size: 12px;
                        line-height: 16px;

                        &:not(:last-child) {
                            margin-right: 12px;
                        }
                    }
                }

            }

            button {
                margin-left: 17px;
                color: $dark-4;
                font-size: 14px;
                line-height: 20px;

                i {
                    margin-right: 10px;
                    font-size: 17px;
                }
            }
        }
    }

    .checkout {
        color: $basic-7;
        padding: 24px 32px 10px 24px;
        min-width: 336px;
        max-width: 336px;
        background: $warning-2;
        border-radius: 8px;
        height: max-content;

        ul {
            li {
                display: flex;
                justify-content: space-between;

                &:not(:last-child) {
                    margin-bottom: 12px;
                }

                span,
                strong {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }

        .checkout-head>button {

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            width: 108px;
            height: 28px;
            border-radius: 4px;

            i {
                color: #231F20;
                font-size: 13px;
                margin-right: 9px;
            }

            span {
                font-size: 12px;
                line-height: 16px;
            }
        }

        .checkout-head {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                font-size: 20px;
                line-height: 28px;
            }

            .add-service-popup {
                padding: 16px 20px 24px 20px;
                position: absolute;
                top: calc(100% + 12px);
                width: 100%;
                background-color: $white;
                box-shadow: 0px 8px 24px rgba(41, 45, 50, 0.08);
                border-radius: 8px;

                .popup-head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        font-size: 14px;
                        color: $basic-7;
                        line-height: 20px;
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: auto;
                        height: auto;

                        i {
                            margin: 0;
                            font-size: 17px;
                            color: $dark-4;
                        }
                    }
                }

                .popup-form {
                    margin-top: 24px;

                    &+button {
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 40px;
                    }
                }
            }
        }



        .checkout-travel_info,
        .checkout-fees,
        .checkout-other_services,
        .checkout-total {
            margin-top: 32px;
        }

        .checkout-other_services {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: $basic-6;
            padding-bottom: 32px;
        }

        .checkout-total {
            display: flex;
            justify-content: space-between;

            strong {
                font-size: 14px;
                line-height: 20px;
            }
        }

    }


    .main {
        position: relative;
    }

    .client-search_popup {
        top: 0;
        left: 100%;
        z-index: 2;
        position: absolute;
        background: $white;
        border: 1px solid #DEE1F4;
        box-sizing: border-box;
        box-shadow: 0px 16px 24px rgba(41, 45, 50, 0.08);
        border-radius: 4px;


        .table-responsive thead {
            background-color: transparent;
        }

        .table-responsive thead tr th {
            padding: 20px 24px;
            font-size: 12px;
            color: $info-5;
        }

        .table-responsive tbody tr {
            padding: 0 24px;
            border: none;

            &:hover {
                background-color: $basic-3;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #EDF1F7;
            }

            td {
                padding: 24px;
            }
        }

        .table-responsive tbody tr td {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    &.consultation_id .detail-field {
            margin-bottom: 32px;
    
            .badge {
                min-height: 32px;
            }
        }
}


.consultation_id {
    .visachance-score{
        margin-top: 24px;
        background: #FFF2F2;
        border-radius: 8px;
        padding: 24px 16px 32px 24px;


        & > button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            border: 1px solid #8D92C1;
            color: $basic-7;
            font-size: 12px;
            line-height: 16px;
            border-radius: 8px;
            background-color: $white;
            width: 157px;
            height: 40px;

            i{
                margin-right: 9px;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
    .visachance-score_head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3{
            margin-bottom: 0;
        }
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background-color: $info-5;
            font-size: 12px;
            line-height: 16px;
            width: 81px;
        }
    }

    .visachance-score_progress {
        margin-top: 32px;
        margin-bottom: 34px;
        background-color: $white;
        border-radius: 50%;
        width: 272px;
        height: 272px;
        display: flex;
        align-items: center;
        justify-content: center;

        .ep-legend--container p {
            font-size: 14px;
            line-height: 20px;
            color: $basic-6;
            margin-top: 8px;
        }
        .ep-legend--value span {
            font-size: 34px;
            line-height: 40px;
            color: $basic-7;
            font-weight: 600;
        }

       
    }
}