.add-consultation-inner {
  display: flex;
  padding-top: 16px;
  padding-right: 10px;
  padding-bottom: 100px;

  .forms .form-group {
    max-width: 100%;
    width: 312px;
  }
}

.consultations {
  .page-header {
    .add-customer_list {
      padding: 0 16px;
      color: $dark-4;
      font-size: 14px;
      line-height: 16px;
    }

    .send-details {
      border-color: $dark-4;
      color: $dark-4;
    }
  }

  h3 {
    color: $basic-7;
    font-size: 16px;
    line-height: 24px;
  }

  .main .forms form {
    margin-top: 24px;
  }

  .main .forms > div {
    padding-bottom: 12px;

    &:not(:first-child) {
      padding-top: 24px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $basic-3;
    }
  }

  .applicants {
    margin-top: 40px;

    .add-applicant {
      margin-top: 24px;

      i {
        color: $success-5;
        font-size: 17px;
      }

      span {
        margin-left: 10px;
        color: $dark-4;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .table td {
      padding-right: 0;
      padding-left: 0;
    }

    .applicant-list .actions {
      vertical-align: bottom;
    }

    .appplicant-list .detail-field {
      margin-bottom: 0;
    }

    .client-type {
      color: $info-5;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }

    .slideout-content-head {
      h2 {
        color: $dark-5;
        font-size: 20px;
        line-height: 28px;
      }

      .is-client > span {
        color: $basic-7;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }

      .is-client .slider {
        border: 1px solid #8d92c1 !important;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          font-size: 20px;
        }
      }
    }

    .slideout-forms-inner {
      margin: auto;
      max-width: 312px;

      .form-group {
        margin-bottom: 1rem;
      }

      input {
        border-radius: 6px;
      }

      .appointment-form {
        margin-top: 56px;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 56px;
        width: 100%;
        height: 48px;
        border-radius: 8px;
      }
    }

    .applicant-list .table-actions {
      width: 240px;

      button {
        width: 100%;
      }
    }
  }

  .documents {
    margin-top: 112px;

    .drag-box {
      padding: 18px 16px;
      min-height: 492px;
      width: 100%;
      border-radius: 8px;
      background-color: #ebefff;

      &:not(:last-child) {
        margin-right: 24px;
      }

      .box-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          color: $basic-7;
          font-size: 14px;
          line-height: 20px;
        }

        .item-count {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          border-radius: 8px;
          background: $dark-1;
        }
      }

      .list-group {
        margin-top: 22px;
        margin-bottom: 16px;

        .list-group-item {
          border: none;
          border-radius: 8px;
          cursor: pointer;

          &:not(:last-child) {
            margin-bottom: 8px;
          }

          p {
            max-width: 224px;
            color: $basic-7;
            font-size: 14px;
            line-height: 20px;
            white-space: pre-wrap;
          }

          .badge {
            margin-top: 16px;
            padding: 4px 8px;
            max-width: fit-content;
            width: auto;
            height: 24px;
            border-radius: 4px;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;

            &:not(:last-child) {
              margin-right: 12px;
            }
          }
        }
      }

      button {
        margin-left: 17px;
        color: $dark-4;
        font-size: 14px;
        line-height: 20px;

        i {
          margin-right: 10px;
          font-size: 17px;
        }
      }
    }
  }

  .checkout {
    padding: 32px 24px 24px;
    min-width: 336px;
    max-width: 336px;
    height: max-content;
    border-radius: 8px;
    background: $warning-2;
    color: $basic-7;

    ul {
      margin-top: 16px;

      li {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
          margin-bottom: 12px;
        }

        span,
        strong {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    .checkout-head > button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 108px;
      height: 28px;
      border-radius: 4px;
      background-color: $white;

      i {
        margin-right: 9px;
        color: #231f20;
        font-size: 13px;
      }

      span {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .checkout-head {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-size: 20px;
        line-height: 28px;
      }

      .add-service-popup {
        position: absolute;
        top: calc(100% + 12px);
        padding: 16px 20px 24px;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 8px 24px rgb(41 45 50 / 8%);
        background-color: $white;

        .popup-head {
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            color: $basic-7;
            font-size: 14px;
            line-height: 20px;
          }

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            height: auto;

            i {
              margin: 0;
              color: $dark-4;
              font-size: 17px;
            }
          }
        }

        .popup-form {
          margin-top: 24px;

          & + button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40px;
            border-radius: 8px;
          }
        }
      }
    }

    .checkout-travel_info,
    .checkout-fees,
    .checkout-other_services,
    .checkout-total {
      margin-top: 32px;
    }

    .checkout-other_services {
      padding-bottom: 32px;
      border-bottom: 1px solid $basic-6;
    }

    .checkout-total {
      display: flex;
      justify-content: space-between;

      strong {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .main {
    position: relative;
  }

  .client-search_popup {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;
    box-sizing: border-box;
    border: 1px solid #dee1f4;
    border-radius: 4px;
    box-shadow: 0 16px 24px rgb(41 45 50 / 8%);
    background: $white;

    .table-responsive thead {
      background-color: transparent;
    }

    .table-responsive thead tr th {
      padding: 20px 24px;
      color: $info-5;
      font-size: 12px;
    }

    .table-responsive tbody tr {
      padding: 0 24px;
      border: none;

      &:hover {
        background-color: $basic-3;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #edf1f7;
      }

      td {
        padding: 20px 24px;
      }
    }
  }

  &.consultation_id .detail-field {
    margin-bottom: 32px;

    .badge {
      min-height: 32px;
    }
  }
}

.consultation_id {
  .visachance-score {
    margin-top: 24px;
    padding: 24px 16px 32px 24px;
    border-radius: 8px;
    background: #fff2f2;

    & > button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      width: 157px;
      height: 40px;
      border: 1px solid #8d92c1;
      border-radius: 8px;
      background-color: $white;
      color: $basic-7;
      font-size: 12px;
      line-height: 16px;

      i {
        margin-right: 9px;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  .visachance-score_head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin-bottom: 0;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 81px;
      border-radius: 4px;
      background-color: $info-5;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .visachance-score_progress {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 34px;
    width: 272px;
    height: 272px;
    border-radius: 50%;
    background-color: $white;

    .ep-legend--container p {
      margin-top: 8px;
      color: $basic-6;
      font-size: 14px;
      line-height: 20px;
    }

    .ep-legend--value span {
      color: $basic-7;
      font-size: 34px;
      font-weight: 600;
      line-height: 40px;
    }
  }
}
