.orders{
    .page-header{
        .btn.btn-success{
            padding: 10px 16px;
            align-self: center;
            flex-shrink: 0;
        }
    }
    background-color: $white;

    .table-wrap {
        position: relative;
        overflow-x: scroll;
        padding-bottom: 40px;
        
    }
    .table-responsive .table {
        .mx-datepicker {
            background-color: #fff;
            input::placeholder{
                font-weight: 500;
            }
        }
        td{
            vertical-align: middle;
        }
        thead tr th {
            width: 150px;

            .form-group {
                margin-bottom: 0;
            }
        }

        tbody tr td ul:last-child span {
            color: $basic-6;
            font-size: 12px;
            line-height: 16px;

            strong{
                display: inline-block;
                background: $basic-3;
                border-radius: 4px;
                padding: 2px 8px;
                font-size: 12px;
                line-height: 16px;
                color: $dark-4;
                margin-left: 8px;
            }
        }

        .order-status_field span{
            display: flex;
            align-items: center;
            i{
                margin-right: 8px;
                font-size: 16px;
            }
            .icon-tick-circle {
                color: $success-5;
            }
            .icon-close-circle-2{
                color: $danger-5;
            }

            .icon-clock {
                color: $warning-5;
            }
        }

        .payment_status_field{
            color: $info-5;
        }
    }


    .table_pagination {
        margin: auto;
        margin: 20px 0;
        position: absolute;
        bottom: 0;
        left:0; 
        right:0;
        .page-link {
            line-height: 24px;
            padding: 0.5rem 1.75rem;
            font-size: 20px;
            color: $dark-4;
        }

        .page-item.active .page-link{
             color: #fff;
             background-color: $dark-4;
             border-color: $dark-4;
        }
    }
    
   
    
}

.add-passport_inner{
    .passport-form_inputs {
        h3{
            font-size: 16px;
            line-height: 24px;
            color: $basic-7;
        }
        form{
            .form-group{
                max-width: 312px;
            }
        }
    }
}

.order-details_inner{
    .head {
        h3{
            font-size: 16px;
            line-height: 24px;
            color: $basic-7;
        }

        button{
            font-size: 14px;
            line-height: 16px;
            color: $basic-7;
            font-weight: 500;
            i{
                font-size: 20px;
                margin-right: 10px;
            }
        }
    }

    .detail-field {
        height: 40px;
        flex: 1 1 30%;
        // width: 33%;
        margin-bottom: 32px;
    }


    .order-tasks_inner {
        table tbody tr td p{
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $basic-7;
        }
        .add-task{
            font-size: 14px;
            line-height: 20px;
            color: $dark-4;
            i{
                color: $success-5;
                font-size: 20px;
                margin-right: 8px;
            }
        }



        .edit-task_attachments {
            padding-bottom: 32px;
            border-bottom: 1px solid $dark-1;
        }

        .edit-task_attachments > span {
            display: inline-block;
            margin-bottom: 16px;
            color: $basic-7;

        }

        .edit-task_attachments ul:not(:last-child) li {
            margin-bottom: 20px;
        }

        .attachments-list_item {
            display: flex;
            align-items: center;

            a {
                color: $basic-7;
                margin-left: 8px;
                margin-right: auto;
            }
            .icon-gallery{
                color: $danger-5;
            }
            .icon-document-text-2{
                color: $info-5;
            }

            .icon-trash{
                font-size: 20px;
                color: $dark-4;
            }
        }
    }

   
}

.order-group_switch {
    display: inline-flex;
    align-items: center;
    margin-right: 48px;

    & > span {
        font-size: 14px;
        line-height: 16px;
        color: $basic-7;
        font-weight: 500;
    }
}





