.profile {
  .profile-photo {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 160px;
      height: auto;
      border-radius: 50%;
    }

    .btn-transparent {
      margin: 16px 0;
      border-color: $info-5;
      color: $info-5;
      font-weight: 400;
    }

    .btn-borderless {
      color: $danger-5;
    }
  }

  .form-group {
    max-width: 312px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  .btn-success {
    align-self: center;
    margin-top: 64px;
    padding: 12px 24px;
    height: 40px;
    border-radius: 8px;
    font-weight: 400;
  }
}
