.profile {
    .profile-photo {
        display: flex;
        flex-direction: column;
        align-items: center;

            img{
                border-radius: 50%;
                width: 160px;
                height: auto;
            }

        .btn-transparent {
            margin: 16px 0;
            border-color: $info-5;
            color: $info-5;
            font-weight: 400;
        }
        .btn-borderless{
            color: $danger-5;
        }
    }



    .form-group{
        max-width: 312px;
        width: 100%;
        &:not(:last-child){
         margin-bottom: 24px;
        }
    }

    .btn-success{
        margin-top: 64px;
        height: 40px;
        border-radius: 8px;
        align-self: center;
        font-weight: 400;
        padding: 12px 24px;
    }
    
}