.form-group {
    width: 100%;
    input {
        color: $basic-7;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        min-height: 40px;
        max-height: 40px;
        background-color: $basic-2;
        border: 1px solid $basic-5;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 12px 0 12px 16px;

        &::placeholder {
            color: $dark-3;
            font-size: 13px;
            line-height: 16px;
        }

        &.is-invalid {
            border-color: $danger-5;
            background-image: none;
        }
    }

    .was-validated .form-control:invalid:focus, .form-control.is-invalid:focus{
        border-color: $danger-5;
    }
    .invalid-feedback {
        font-size: 12px;
        line-height: 16px;
        color: $danger-5;
    }

    .col-form-label {
        font-size: 12px;
        line-height: 16px;
        color: $basic-7;
        padding: 0;
        margin-bottom: 8px;
    }

    .form-control:focus {
        border-color: $dark-3;
        box-shadow: none;
        background-color: $basic-2;
    }
}

.search-input {
    position: relative;

    input{
        padding-left: 52px;
    }
    i {
        font-size: 17px;
        position: absolute;
        top: 50%;
        left: 18px;
        transform: translateY(-50%);
        color: $dark-3;
    }

}

.query-field{
    position: relative;

    input{
        // padding-left: 52px;

        background: $dark-4 !important;
        border-radius: 16px;
        border: none;
        color: $white;
        max-height: 32px;
    }
    i {
        font-size: 12px;
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
        color: $dark-3;
    }
}
