textarea.form-control {
  border: 1px solid $dark-2;
  border-radius: 8px;
  background: #F6F8FF;
  max-width: 336px;
  max-height: 80px;

  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: $basic-6;
  }

}